
#content {
	background: 404348;
	border: 1px solid #CCC;

	margin: auto;
}
.lead {
    background: white;
    margin-left: auto;
    margin-right: auto;
    height: 410px;
    width: 410px;

}

h1 {
    margin-left: 10%;
}

h2 {
    margin-left: 1px;
}
IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.col-md-2{
    width: 10%;
}

.container {
    width: 100%;
}
#content.row {

    margin-left: auto;
    margin-right: auto;
}

#brand {
    display: inline;
}

.search-form {
	margin: 0 5px;
}

.search-form form {
	margin: 0;
}

.btn-menu {
    margin: 4px 5px 0 0;
    float: right;
}

.btn-menu a, .btn-menu input {
	padding: 7px 16px !important;
	border-radius: 1px !important;
	border-color: #ccc;
}

.btn, textarea, input[type], button, .model-list {
	border-radius: 0;
}

.model-list {
	border-radius: 0;
}

.nav-pills li > a {
	border-radius: 0;
}

.select2-container .select2-choice {
	border-radius: 0;
}

a.dropdown-toggle b.caret {
    margin-left: 5px;
}